.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.about__title {
  margin: 0;
  max-width: 251px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
}
.about__content {
  margin-top: 19px;
  max-width: 660px;
}
.about__paragraph {
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}
.about__paragraph:last-child {
  margin: 0;
}
.about__circle {
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
  z-index: 1;
}
.about__circle_animation_blurred {
  transform-origin: center;
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.093);
    opacity: 0;
  }
}