.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700; font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__list-item {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.card__content {
  padding: 0;
  margin: 0;
  list-style: none;
}
