.card {
  width: 540px;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__list-item {
  display: flex;
  gap: 10px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.card__content {
  padding: 0;
  margin: 0;
}
