.form {
  box-sizing: border-box;
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}

.form__fieldset {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 0 32px;
}

.form__fieldset:last-of-type {
  margin-bottom: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #838383;
  max-width: 385px;
}

.form__button {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 20px 32px;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #3f96f3;
}
