.header {
  padding: 30px 80px 40px;
  background: #fff url(../images/background_header.svg) no-repeat center/cover;
  height: 800px;
  padding-left: 80px;
  display: flex;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__title {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0 0.6px;
  max-width: 729px;
}

.header__description {
  margin: 28 0 0;
  font-family: "Noto Serif";
  font-size: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  height: 646px;
  width: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__span-accent {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}
