.menu {
  padding: 100px 100px 45px;
  background: #fff url("../images/background_menu.svg") no-repeat center/cover;
}

.menu__title {
  text-align: center;
  margin: 0 auto 24px;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  font-family: "Inter", "Arial", sans-serif;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", serif;
  max-width: 845px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 17px 40px;
  justify-content: center;
  margin-top: 71px;
}
