.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav__link 
.nav__link:hover { opacity: 0.5; }

.nav__link {
  transition: opacity 0.3s ease;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.nav__logo {
 position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
  position: relative;
}
