
.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  padding: 100px 80px 215px;
}

.recipes__iframe {
  width: 480px;
  height: 270px;
  font-family: "Inter";
  font-size: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
}


.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  padding: 100px 80px 215px;
}

.recipes__iframe {
  width: 480px;
  height: 270px;
  font-family: "Inter";
  font-size: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
}

