.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  padding: 100px 80px 215px;
}


.recipes__frame {
  width: 480px;
  height: 270px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recipe__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__iframe {
  width: 480px;
  height: 270px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 52px;
  border: 0;
}

.recipes__videos {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 80px 0 0;

}

.recipes__videos-caption {
    display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__title {
  margin: 0 0 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 438px;
}



