.reservation {
  padding: 100px 80px 120px;
  text-align: center;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat center/cover.
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  text-align: center;
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}
