.reservation {
  padding: 100px 80px 120px;
  text-align: center;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat;
}

.reservation__title {
  margin: 0 auto 80px;
  text-align: center;
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}
