@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/about.css);
@import url(../blocks/card.css);
@import url(../blocks/about.css);
@import url(../blocks/footer.css);
@import url(../blocks/menu.css);
.header {
  padding: 30px 80px 40px;
  background: #fff url(../images/background_header.svg) no-repeat center/cover;
  height: 800px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  font-size: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
}

.header__title {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0 0.6px;
  max-width: 729px;
}

.header__description {
  margin: 28 0 0;
  font-family: "Noto Serif";
  font-size: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  height: 646px;
  width: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__span-accent {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  padding: 100px 80px 215px;
}

.recipes__iframe {
  width: 480px;
  height: 270px;
  font-family: "Inter";
  font-size: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
}

.reservation {
  padding: 100px 80px 120px;
  text-align: center;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat;
}

.reservation__title {
  margin: 0 auto 80px;
  text-align: center;
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  box-sizing: border-box;
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}

.form__fieldset {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 0 32px;
}

.form__fieldset:last-of-type {
  margin-bottom: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #838383;
  max-width: 385px;
}

.form__button {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 20px 32px;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
}
